In [27]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
import numpy as np
from tabulate import tabulate

In [2]:
econclimate = pd.read_csv(".//data//processed_new//econclimate.csv")
econclimate["m"] = econclimate["Y-m"].apply(lambda x: int(x.split("-")[1]))
econclimate["Y"] = econclimate["Y-m"].apply(lambda x: int(x.split("-")[0]))
econclimate

,Y-m,City,CO,NO2,SO2,PM2_5,Estimated Unemployment Rate (%),m,Y
0,2018-01,Agartala,956.423048,14.775519,7.417984,139.000760,31.11,1,2018
1,2018-01,Agra,1278.267823,24.762805,12.173979,174.590756,4.03,1,2018
2,2018-01,Aizwal,835.838529,4.041054,5.734123,112.508366,5.01,1,2018
3,2018-01,Amritsar,1446.834901,21.450630,11.055651,189.679878,6.69,1,2018
4,2018-01,Asansol,1137.709346,24.799873,25.826495,166.614636,8.63,1,2018
...,...,...,...,...,...,...,...,...,...
2836,2022-07,Solapur,241.367882,3.462263,2.022338,3.581522,3.73,7,2022
2837,2022-07,Srinagar,1478.492269,43.655226,12.104774,61.230544,20.22,7,2022
2838,2022-07,Thiruvananthapuram,220.199491,1.964161,1.588050,4.816510,4.93,7,2022
2839,2022-07,Varanasi,680.913750,13.196834,10.045312,45.573409,3.29,7,2022
2840,2022-07,Visakhapatnam,711.093507,33.227431,62.294381,33.868380,5.79,7,2022

In [3]:
quarters = []
for i in range(len(econclimate.index)):
    m = econclimate["m"].values[i]
    Y = econclimate["Y"].values[i]
    if 1 <= m <= 3:
        Q = 1
    elif 4 <= m <= 6:
        Q = 2
    elif 7 <= m <= 9:
        Q = 3
    elif 10 <= m <= 12:
        Q = 4
    
    quarters.append(f"{Y}-{Q}")
    
econclimate["Q"] = quarters  
econclimate

,Y-m,City,CO,NO2,SO2,PM2_5,Estimated Unemployment Rate (%),m,Y,Q
0,2018-01,Agartala,956.423048,14.775519,7.417984,139.000760,31.11,1,2018,2018-1
1,2018-01,Agra,1278.267823,24.762805,12.173979,174.590756,4.03,1,2018,2018-1
2,2018-01,Aizwal,835.838529,4.041054,5.734123,112.508366,5.01,1,2018,2018-1
3,2018-01,Amritsar,1446.834901,21.450630,11.055651,189.679878,6.69,1,2018,2018-1
4,2018-01,Asansol,1137.709346,24.799873,25.826495,166.614636,8.63,1,2018,2018-1
...,...,...,...,...,...,...,...,...,...,...
2836,2022-07,Solapur,241.367882,3.462263,2.022338,3.581522,3.73,7,2022,2022-3
2837,2022-07,Srinagar,1478.492269,43.655226,12.104774,61.230544,20.22,7,2022,2022-3
2838,2022-07,Thiruvananthapuram,220.199491,1.964161,1.588050,4.816510,4.93,7,2022,2022-3
2839,2022-07,Varanasi,680.913750,13.196834,10.045312,45.573409,3.29,7,2022,2022-3
2840,2022-07,Visakhapatnam,711.093507,33.227431,62.294381,33.868380,5.79,7,2022,2022-3

In [4]:
scaler = MinMaxScaler()
scaler.fit(econclimate[['CO', 'NO2', 'SO2', 'PM2_5']])

MinMaxScaler()

In [5]:
dfs = []
for city in econclimate["City"].unique():
    city_data = econclimate[econclimate["City"] == city]
    
    city_pollutants = scaler.transform(city_data[['CO', 'NO2', 'SO2', 'PM2_5']])
    city_data["Normalized AQI"] = np.mean(city_pollutants, axis=1)
    
    city_data = city_data[["Estimated Unemployment Rate (%)", "Normalized AQI", "Q"]].groupby("Q").mean().reset_index()
    city_data = pd.concat([city_data["Q"], city_data[['Estimated Unemployment Rate (%)', 'Normalized AQI']].diff()], axis=1).dropna()
    city_data = city_data.rename(columns={"Estimated Unemployment Rate (%)":"Change in Unemployment Rate", "Normalized AQI":"Change in Normalized AQI"})
    city_data["City"] = np.repeat(city, len(city_data.index))
    
    dfs.append(city_data)

C:\Users\Nick\AppData\Local\Temp/ipykernel_10168/304441521.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  city_data["Normalized AQI"] = np.mean(city_pollutants, axis=1)
C:\Users\Nick\AppData\Local\Temp/ipykernel_10168/304441521.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  city_data["Normalized AQI"] = np.mean(city_pollutants, axis=1)
C:\Users\Nick\AppData\Local\Temp/ipykernel_10168/304441521.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  city_data["Normalized AQI"] = np.mean(city_pollutants, axis=1)
C:\Users\Nick\AppData\Local\Temp/ipykernel_10168/304441521.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  city_data["Normalized AQI"] = np.mean(city_pollutants, axis=1)
C:\Users\Nick\AppData\Local\Temp/ipykernel_10168/304441521.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  city_data["Normalized AQI"] = np.mean(city_pollutants, axis=1)
C:\Users\Nick\AppData\Local\Temp/ipykernel_10168/304441521.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  city_data["Normalized AQI"] = np.mean(city_pollutants, axis=1)
C:\Users\Nick\AppData\Local\Temp/ipykernel_10168/304441521.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  city_data["Normalized AQI"] = np.mean(city_pollutants, axis=1)
C:\Users\Nick\AppData\Local\Temp/ipykernel_10168/304441521.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  city_data["Normalized AQI"] = np.mean(city_pollutants, axis=1)
C:\Users\Nick\AppData\Local\Temp/ipykernel_10168/304441521.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  city_data["Normalized AQI"] = np.mean(city_pollutants, axis=1)
C:\Users\Nick\AppData\Local\Temp/ipykernel_10168/304441521.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  city_data["Normalized AQI"] = np.mean(city_pollutants, axis=1)
C:\Users\Nick\AppData\Local\Temp/ipykernel_10168/304441521.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  city_data["Normalized AQI"] = np.mean(city_pollutants, axis=1)
C:\Users\Nick\AppData\Local\Temp/ipykernel_10168/304441521.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  city_data["Normalized AQI"] = np.mean(city_pollutants, axis=1)
C:\Users\Nick\AppData\Local\Temp/ipykernel_10168/304441521.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  city_data["Normalized AQI"] = np.mean(city_pollutants, axis=1)
C:\Users\Nick\AppData\Local\Temp/ipykernel_10168/304441521.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  city_data["Normalized AQI"] = np.mean(city_pollutants, axis=1)
C:\Users\Nick\AppData\Local\Temp/ipykernel_10168/304441521.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  city_data["Normalized AQI"] = np.mean(city_pollutants, axis=1)
C:\Users\Nick\AppData\Local\Temp/ipykernel_10168/304441521.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  city_data["Normalized AQI"] = np.mean(city_pollutants, axis=1)
C:\Users\Nick\AppData\Local\Temp/ipykernel_10168/304441521.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  city_data["Normalized AQI"] = np.mean(city_pollutants, axis=1)
C:\Users\Nick\AppData\Local\Temp/ipykernel_10168/304441521.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  city_data["Normalized AQI"] = np.mean(city_pollutants, axis=1)
C:\Users\Nick\AppData\Local\Temp/ipykernel_10168/304441521.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  city_data["Normalized AQI"] = np.mean(city_pollutants, axis=1)
C:\Users\Nick\AppData\Local\Temp/ipykernel_10168/304441521.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  city_data["Normalized AQI"] = np.mean(city_pollutants, axis=1)
C:\Users\Nick\AppData\Local\Temp/ipykernel_10168/304441521.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  city_data["Normalized AQI"] = np.mean(city_pollutants, axis=1)
C:\Users\Nick\AppData\Local\Temp/ipykernel_10168/304441521.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  city_data["Normalized AQI"] = np.mean(city_pollutants, axis=1)
C:\Users\Nick\AppData\Local\Temp/ipykernel_10168/304441521.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  city_data["Normalized AQI"] = np.mean(city_pollutants, axis=1)
C:\Users\Nick\AppData\Local\Temp/ipykernel_10168/304441521.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  city_data["Normalized AQI"] = np.mean(city_pollutants, axis=1)
C:\Users\Nick\AppData\Local\Temp/ipykernel_10168/304441521.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  city_data["Normalized AQI"] = np.mean(city_pollutants, axis=1)
C:\Users\Nick\AppData\Local\Temp/ipykernel_10168/304441521.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  city_data["Normalized AQI"] = np.mean(city_pollutants, axis=1)
C:\Users\Nick\AppData\Local\Temp/ipykernel_10168/304441521.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  city_data["Normalized AQI"] = np.mean(city_pollutants, axis=1)
C:\Users\Nick\AppData\Local\Temp/ipykernel_10168/304441521.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  city_data["Normalized AQI"] = np.mean(city_pollutants, axis=1)
C:\Users\Nick\AppData\Local\Temp/ipykernel_10168/304441521.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  city_data["Normalized AQI"] = np.mean(city_pollutants, axis=1)
C:\Users\Nick\AppData\Local\Temp/ipykernel_10168/304441521.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  city_data["Normalized AQI"] = np.mean(city_pollutants, axis=1)
C:\Users\Nick\AppData\Local\Temp/ipykernel_10168/304441521.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  city_data["Normalized AQI"] = np.mean(city_pollutants, axis=1)

C:\Users\Nick\AppData\Local\Temp/ipykernel_10168/304441521.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  city_data["Normalized AQI"] = np.mean(city_pollutants, axis=1)
C:\Users\Nick\AppData\Local\Temp/ipykernel_10168/304441521.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  city_data["Normalized AQI"] = np.mean(city_pollutants, axis=1)
C:\Users\Nick\AppData\Local\Temp/ipykernel_10168/304441521.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  city_data["Normalized AQI"] = np.mean(city_pollutants, axis=1)
C:\Users\Nick\AppData\Local\Temp/ipykernel_10168/304441521.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  city_data["Normalized AQI"] = np.mean(city_pollutants, axis=1)
C:\Users\Nick\AppData\Local\Temp/ipykernel_10168/304441521.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  city_data["Normalized AQI"] = np.mean(city_pollutants, axis=1)
C:\Users\Nick\AppData\Local\Temp/ipykernel_10168/304441521.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  city_data["Normalized AQI"] = np.mean(city_pollutants, axis=1)
C:\Users\Nick\AppData\Local\Temp/ipykernel_10168/304441521.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  city_data["Normalized AQI"] = np.mean(city_pollutants, axis=1)
C:\Users\Nick\AppData\Local\Temp/ipykernel_10168/304441521.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  city_data["Normalized AQI"] = np.mean(city_pollutants, axis=1)
C:\Users\Nick\AppData\Local\Temp/ipykernel_10168/304441521.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  city_data["Normalized AQI"] = np.mean(city_pollutants, axis=1)
C:\Users\Nick\AppData\Local\Temp/ipykernel_10168/304441521.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  city_data["Normalized AQI"] = np.mean(city_pollutants, axis=1)
C:\Users\Nick\AppData\Local\Temp/ipykernel_10168/304441521.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  city_data["Normalized AQI"] = np.mean(city_pollutants, axis=1)
C:\Users\Nick\AppData\Local\Temp/ipykernel_10168/304441521.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  city_data["Normalized AQI"] = np.mean(city_pollutants, axis=1)
C:\Users\Nick\AppData\Local\Temp/ipykernel_10168/304441521.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  city_data["Normalized AQI"] = np.mean(city_pollutants, axis=1)
C:\Users\Nick\AppData\Local\Temp/ipykernel_10168/304441521.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  city_data["Normalized AQI"] = np.mean(city_pollutants, axis=1)
C:\Users\Nick\AppData\Local\Temp/ipykernel_10168/304441521.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  city_data["Normalized AQI"] = np.mean(city_pollutants, axis=1)
C:\Users\Nick\AppData\Local\Temp/ipykernel_10168/304441521.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  city_data["Normalized AQI"] = np.mean(city_pollutants, axis=1)
C:\Users\Nick\AppData\Local\Temp/ipykernel_10168/304441521.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  city_data["Normalized AQI"] = np.mean(city_pollutants, axis=1)
C:\Users\Nick\AppData\Local\Temp/ipykernel_10168/304441521.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  city_data["Normalized AQI"] = np.mean(city_pollutants, axis=1)
C:\Users\Nick\AppData\Local\Temp/ipykernel_10168/304441521.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  city_data["Normalized AQI"] = np.mean(city_pollutants, axis=1)
C:\Users\Nick\AppData\Local\Temp/ipykernel_10168/304441521.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  city_data["Normalized AQI"] = np.mean(city_pollutants, axis=1)
C:\Users\Nick\AppData\Local\Temp/ipykernel_10168/304441521.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  city_data["Normalized AQI"] = np.mean(city_pollutants, axis=1)

In [6]:
all_city_dfs = pd.concat(dfs)
quarter_dfs = []
for q in all_city_dfs["Q"].unique():
    quarter_data = all_city_dfs[all_city_dfs["Q"]==q].reset_index(drop=True)
    
    quads = []
    for i in range(len(quarter_data.index)):   
        if (quarter_data.iloc[i,1] >= 0) and (quarter_data.iloc[i,2] >= 0):
            quadrant = 1
        elif (quarter_data.iloc[i,1] >= 0) and (quarter_data.iloc[i,2] < 0):
            quadrant = 2
        elif (quarter_data.iloc[i,1] < 0) and (quarter_data.iloc[i,2] >= 0):
            quadrant = 3
        elif (quarter_data.iloc[i,1] < 0) and (quarter_data.iloc[i,2] < 0):
            quadrant = 4
        quads.append(quadrant)

    quarter_data["Quadrant"] = quads
#     quarter_data = quarter_data.rename(columns={"Estimated Unemployment Rate (%)":"Economic Change", 'Normalized AQI':'Emissions Change'})
#     quarter_data = quarter_data.drop(columns=['Estimated Unemployment Rate (%)', 'Normalized AQI'])
    quarter_dfs.append(quarter_data)

In [7]:
all_change_data = pd.concat(quarter_dfs)
all_change_data

,Q,Change in Unemployment Rate,Change in Normalized AQI,City,Quadrant
0,2018-2,-5.723333,-0.014377,Agartala,4
1,2018-2,1.236667,-0.014066,Agra,2
2,2018-2,-0.140000,-0.014942,Aizwal,4
3,2018-2,-0.876667,-0.014164,Amritsar,4
4,2018-2,-1.316667,-0.017195,Asansol,4
...,...,...,...,...,...
46,2022-3,3.163333,-0.025725,Srinagar,2
47,2022-3,-0.733333,-0.002360,Thiruvananthapuram,4
48,2022-3,0.350000,-0.056749,Varanasi,2
49,2022-3,1.086667,0.085829,Visakhapatnam,1
50,2022-3,-3.156667,-0.009024,Gangtok,4

In [36]:
for q in np.unique(all_change_data["Q"]):
    print(q)
    subset = all_change_data[all_change_data["Q"]==q].sort_values(by="Quadrant")
    
    matrix = np.empty((2, 2), dtype=object)
    for i in np.ndindex(matrix.shape): matrix[i] = []
    
    if 1 in subset["Quadrant"]:
        matrix[0,0].extend(subset[subset["Quadrant"]==1]["City"])
    if 2 in subset["Quadrant"]:
        matrix[0,1].extend(subset[subset["Quadrant"]==2]["City"])
    if 3 in subset["Quadrant"]:
        matrix[1,0].extend(subset[subset["Quadrant"]==3]["City"])
    if 4 in subset["Quadrant"]:
        matrix[1,1].extend(subset[subset["Quadrant"]==4]["City"])
        
    print(matrix[0,0])
    print(matrix[0,1])
    print(matrix[1,0])
    print(matrix[1,1])
    print()

2018-2
[]
['Delhi', 'Gorakhpur', 'Ghaziabad', 'Mumbai', 'Faridabad', 'Kanpur', 'Nashik', 'Moradabad', 'Lucknow', 'Prayagraj', 'Bareilly', 'Aurangabad', 'Solapur', 'Varanasi', 'Agra', 'Pune', 'Meerut']
[]
['Kozhikode', 'Ludhiana', 'Mangalore', 'Kota', 'Agartala', 'Patna', 'Puducherry', 'Shillong', 'Srinagar', 'Thiruvananthapuram', 'Mysuru', 'Kolkata', 'Jalandhar', 'Kochi', 'Aizwal', 'Amritsar', 'Asansol', 'Belgaum', 'Bengaluru', 'Bhopal', 'Chandigarh', 'Chennai', 'Kohima', 'Coimbatore', 'Gandhinagar', 'Gwalior', 'Hyderabad', 'Imphal', 'Indore', 'Jabalpur', 'Jaipur', 'Jodhpur', 'Dehradun', 'Visakhapatnam']

2018-3
[]
['Agartala', 'Jabalpur', 'Jaipur', 'Varanasi', 'Jodhpur', 'Kanpur', 'Kochi', 'Kohima', 'Kota', 'Kozhikode', 'Lucknow', 'Ludhiana', 'Meerut', 'Moradabad', 'Patna', 'Prayagraj', 'Puducherry', 'Thiruvananthapuram', 'Indore', 'Imphal', 'Jalandhar', 'Gwalior', 'Agra', 'Aizwal', 'Amritsar', 'Bareilly', 'Bhopal', 'Chandigarh', 'Chennai', 'Visakhapatnam', 'Dehradun', 'Delhi', 'Gorakhpur', 'Faridabad', 'Ghaziabad', 'Coimbatore']
[]
['Kolkata', 'Srinagar', 'Solapur', 'Shillong', 'Pune', 'Gandhinagar', 'Nashik', 'Mysuru', 'Mumbai', 'Aurangabad', 'Hyderabad', 'Belgaum', 'Bengaluru', 'Asansol', 'Mangalore']

2018-4
['Agartala', 'Indore', 'Jabalpur', 'Jaipur', 'Visakhapatnam', 'Jodhpur', 'Kanpur', 'Kohima', 'Imphal', 'Kota', 'Ludhiana', 'Meerut', 'Moradabad', 'Patna', 'Prayagraj', 'Srinagar', 'Varanasi', 'Lucknow', 'Hyderabad', 'Jalandhar', 'Gorakhpur', 'Bareilly', 'Gwalior', 'Bhopal', 'Aizwal', 'Amritsar', 'Chennai', 'Chandigarh', 'Dehradun', 'Agra', 'Faridabad', 'Gandhinagar', 'Ghaziabad', 'Coimbatore']
[]
['Thiruvananthapuram', 'Solapur', 'Shillong', 'Pune', 'Puducherry', 'Asansol', 'Mangalore', 'Mysuru', 'Mumbai', 'Aurangabad', 'Belgaum', 'Bengaluru', 'Kozhikode', 'Kolkata', 'Kochi', 'Delhi', 'Nashik', 'Gangtok']
[]

2019-1
[]
['Jalandhar', 'Kanpur', 'Kohima', 'Kolkata', 'Lucknow', 'Ludhiana', 'Meerut', 'Moradabad', 'Mumbai', 'Nashik', 'Patna', 'Prayagraj', 'Puducherry', 'Pune', 'Shillong', 'Solapur', 'Srinagar', 'Varanasi', 'Visakhapatnam', 'Imphal', 'Gangtok', 'Aurangabad', 'Delhi', 'Bareilly', 'Hyderabad', 'Asansol', 'Ghaziabad', 'Chandigarh', 'Gorakhpur', 'Aizwal', 'Agra', 'Amritsar']
[]
['Thiruvananthapuram', 'Belgaum', 'Bengaluru', 'Bhopal', 'Mysuru', 'Gwalior', 'Coimbatore', 'Mangalore', 'Dehradun', 'Kozhikode', 'Kota', 'Faridabad', 'Gandhinagar', 'Kochi', 'Jodhpur', 'Jaipur', 'Jabalpur', 'Indore', 'Chennai', 'Agartala']

2019-2
[]
['Agartala', 'Hyderabad', 'Imphal', 'Nashik', 'Mysuru', 'Jaipur', 'Mumbai', 'Patna', 'Jodhpur', 'Kochi', 'Kohima', 'Moradabad', 'Kota', 'Kozhikode', 'Lucknow', 'Kanpur', 'Gorakhpur', 'Ghaziabad', 'Prayagraj', 'Agra', 'Aizwal', 'Varanasi', 'Thiruvananthapuram', 'Aurangabad', 'Bareilly', 'Belgaum', 'Bengaluru', 'Solapur', 'Shillong', 'Pune', 'Dehradun', 'Faridabad', 'Meerut', 'Mangalore']
[]
['Srinagar', 'Puducherry', 'Jalandhar', 'Kolkata', 'Visakhapatnam', 'Jabalpur', 'Indore', 'Gwalior', 'Gandhinagar', 'Delhi', 'Coimbatore', 'Chennai', 'Chandigarh', 'Bhopal', 'Asansol', 'Amritsar', 'Ludhiana', 'Gangtok']

2019-3
[]
['Faridabad', 'Hyderabad', 'Nashik', 'Patna', 'Gandhinagar', 'Kohima', 'Delhi', 'Dehradun', 'Coimbatore', 'Imphal', 'Chennai', 'Puducherry', 'Pune', 'Solapur', 'Aurangabad', 'Srinagar', 'Aizwal', 'Visakhapatnam', 'Mumbai']
[]
['Mangalore', 'Ludhiana', 'Meerut', 'Lucknow', 'Agartala', 'Mysuru', 'Prayagraj', 'Shillong', 'Thiruvananthapuram', 'Varanasi', 'Moradabad', 'Kozhikode', 'Jalandhar', 'Kolkata', 'Agra', 'Amritsar', 'Asansol', 'Bareilly', 'Belgaum', 'Bengaluru', 'Bhopal', 'Chandigarh', 'Ghaziabad', 'Gorakhpur', 'Gwalior', 'Indore', 'Jabalpur', 'Jaipur', 'Jodhpur', 'Kanpur', 'Kochi', 'Kota', 'Gangtok']

2019-4
['Gangtok', 'Kota', 'Kolkata', 'Kohima', 'Kochi', 'Mangalore', 'Jodhpur', 'Visakhapatnam', 'Jaipur', 'Imphal', 'Hyderabad', 'Mumbai', 'Mysuru', 'Nashik', 'Kozhikode', 'Gandhinagar', 'Patna', 'Aizwal', 'Thiruvananthapuram', 'Asansol', 'Aurangabad', 'Belgaum', 'Faridabad', 'Bengaluru', 'Solapur', 'Shillong', 'Pune']
[]
['Moradabad', 'Srinagar', 'Puducherry', 'Prayagraj', 'Varanasi', 'Meerut', 'Ludhiana', 'Agartala', 'Kanpur', 'Agra', 'Amritsar', 'Bareilly', 'Bhopal', 'Chandigarh', 'Chennai', 'Lucknow', 'Coimbatore', 'Delhi', 'Ghaziabad', 'Gorakhpur', 'Gwalior', 'Indore', 'Jabalpur', 'Dehradun', 'Jalandhar']
[]

2020-1
[]
['Agartala', 'Srinagar', 'Mysuru', 'Mangalore', 'Ludhiana', 'Kohima', 'Visakhapatnam', 'Imphal', 'Hyderabad', 'Gandhinagar', 'Faridabad', 'Delhi', 'Dehradun', 'Jalandhar', 'Chennai', 'Aizwal', 'Amritsar', 'Coimbatore', 'Belgaum', 'Bengaluru', 'Gangtok', 'Chandigarh']
[]
['Gorakhpur', 'Varanasi', 'Thiruvananthapuram', 'Agra', 'Solapur', 'Shillong', 'Pune', 'Puducherry', 'Prayagraj', 'Patna', 'Nashik', 'Mumbai', 'Moradabad', 'Gwalior', 'Meerut', 'Asansol', 'Lucknow', 'Ghaziabad', 'Kota', 'Kolkata', 'Aurangabad', 'Kochi', 'Kanpur', 'Jodhpur', 'Bareilly', 'Jaipur', 'Jabalpur', 'Indore', 'Bhopal', 'Kozhikode']

2020-2
[]
['Jalandhar', 'Jodhpur', 'Kanpur', 'Kochi', 'Kohima', 'Kolkata', 'Kota', 'Kozhikode', 'Lucknow', 'Ludhiana', 'Visakhapatnam', 'Mangalore', 'Moradabad', 'Mumbai', 'Mysuru', 'Nashik', 'Patna', 'Prayagraj', 'Puducherry', 'Pune', 'Shillong', 'Meerut', 'Jaipur', 'Jabalpur', 'Indore', 'Agra', 'Aizwal', 'Amritsar', 'Asansol', 'Aurangabad', 'Bareilly', 'Belgaum', 'Bengaluru', 'Bhopal', 'Chandigarh', 'Chennai', 'Coimbatore', 'Varanasi', 'Delhi', 'Faridabad', 'Gandhinagar', 'Ghaziabad', 'Gorakhpur', 'Gwalior', 'Hyderabad', 'Imphal', 'Solapur', 'Thiruvananthapuram']
[]
['Agartala', 'Dehradun', 'Srinagar', 'Gangtok']

2020-3
['Jaipur', 'Kota', 'Dehradun', 'Jodhpur']
[]
['Kanpur', 'Kochi', 'Kolkata', 'Kozhikode', 'Lucknow', 'Ludhiana', 'Mangalore', 'Meerut', 'Agartala', 'Mysuru', 'Nashik', 'Patna', 'Prayagraj', 'Puducherry', 'Pune', 'Shillong', 'Solapur', 'Srinagar', 'Varanasi', 'Mumbai', 'Moradabad', 'Jalandhar', 'Jabalpur', 'Agra', 'Aizwal', 'Amritsar', 'Asansol', 'Aurangabad', 'Bareilly', 'Belgaum', 'Bengaluru', 'Bhopal', 'Chandigarh', 'Visakhapatnam', 'Chennai', 'Delhi', 'Faridabad', 'Gandhinagar', 'Ghaziabad', 'Gorakhpur', 'Gwalior', 'Hyderabad', 'Imphal', 'Indore', 'Coimbatore', 'Gangtok']
['Kohima', 'Thiruvananthapuram']

2020-4
['Faridabad', 'Kohima', 'Lucknow', 'Kanpur', 'Jodhpur', 'Jaipur', 'Meerut', 'Imphal', 'Moradabad', 'Gorakhpur', 'Ghaziabad', 'Gandhinagar', 'Kota', 'Bareilly', 'Agra', 'Aizwal', 'Prayagraj', 'Varanasi', 'Shillong', 'Srinagar']
[]
['Thiruvananthapuram', 'Ludhiana', 'Mangalore', 'Nashik', 'Solapur', 'Mumbai', 'Pune', 'Puducherry', 'Kozhikode', 'Mysuru', 'Patna', 'Agartala', 'Jalandhar', 'Kochi', 'Amritsar', 'Asansol', 'Aurangabad', 'Belgaum', 'Bengaluru', 'Bhopal', 'Chandigarh', 'Kolkata', 'Chennai', 'Dehradun', 'Delhi', 'Gwalior', 'Hyderabad', 'Indore', 'Jabalpur', 'Visakhapatnam', 'Coimbatore', 'Gangtok']
[]

2021-1
['Agartala', 'Pune', 'Patna', 'Nashik', 'Mysuru', 'Mumbai', 'Ludhiana', 'Hyderabad', 'Delhi', 'Chennai', 'Jalandhar', 'Belgaum', 'Aurangabad', 'Amritsar', 'Chandigarh']
['Srinagar', 'Solapur', 'Puducherry', 'Coimbatore', 'Mangalore', 'Bengaluru', 'Gangtok']
['Thiruvananthapuram', 'Prayagraj', 'Kozhikode', 'Aizwal', 'Varanasi', 'Asansol', 'Meerut', 'Lucknow', 'Bhopal', 'Kohima', 'Dehradun', 'Faridabad', 'Gandhinagar', 'Ghaziabad', 'Gorakhpur', 'Kolkata', 'Indore', 'Imphal', 'Visakhapatnam', 'Jodhpur', 'Kochi']
['Jaipur', 'Moradabad', 'Gwalior', 'Agra', 'Shillong', 'Bareilly', 'Kanpur', 'Jabalpur', 'Kota']

2021-2
['Puducherry', 'Asansol', 'Bengaluru']
['Agartala', 'Jaipur', 'Visakhapatnam', 'Jodhpur', 'Kanpur', 'Kochi', 'Kohima', 'Kolkata', 'Kota', 'Kozhikode', 'Lucknow', 'Prayagraj', 'Mangalore', 'Meerut', 'Moradabad', 'Mumbai', 'Pune', 'Imphal', 'Hyderabad', 'Shillong', 'Agra', 'Aizwal', 'Varanasi', 'Aurangabad', 'Bareilly', 'Belgaum', 'Thiruvananthapuram', 'Mysuru', 'Nashik', 'Coimbatore', 'Dehradun', 'Delhi', 'Faridabad', 'Solapur', 'Ghaziabad', 'Gorakhpur', 'Chennai']
[]
['Srinagar', 'Jalandhar', 'Ludhiana', 'Jabalpur', 'Indore', 'Gwalior', 'Gandhinagar', 'Chandigarh', 'Bhopal', 'Amritsar', 'Patna', 'Gangtok']

2021-3
[]
['Indore', 'Patna', 'Bhopal', 'Jabalpur', 'Gwalior', 'Srinagar']
['Shillong', 'Puducherry', 'Gandhinagar', 'Visakhapatnam', 'Chandigarh', 'Chennai', 'Kota']
['Kozhikode', 'Ludhiana', 'Mangalore', 'Lucknow', 'Agartala', 'Mysuru', 'Moradabad', 'Mumbai', 'Nashik', 'Prayagraj', 'Pune', 'Solapur', 'Thiruvananthapuram', 'Varanasi', 'Meerut', 'Kolkata', 'Jalandhar', 'Kochi', 'Agra', 'Aizwal', 'Amritsar', 'Asansol', 'Aurangabad', 'Bareilly', 'Belgaum', 'Bengaluru', 'Coimbatore', 'Dehradun', 'Delhi', 'Faridabad', 'Ghaziabad', 'Gorakhpur', 'Hyderabad', 'Imphal', 'Jaipur', 'Jodhpur', 'Kanpur', 'Kohima', 'Gangtok']

2021-4
['Jalandhar', 'Srinagar', 'Shillong', 'Patna', 'Ludhiana', 'Kota', 'Kohima', 'Jodhpur', 'Jaipur', 'Imphal', 'Gandhinagar', 'Faridabad', 'Gangtok', 'Chandigarh', 'Aizwal', 'Amritsar']
[]
['Dehradun', 'Mangalore', 'Meerut', 'Moradabad', 'Mumbai', 'Mysuru', 'Nashik', 'Prayagraj', 'Pune', 'Solapur', 'Agra', 'Thiruvananthapuram', 'Varanasi', 'Lucknow', 'Coimbatore', 'Kozhikode', 'Kolkata', 'Delhi', 'Chennai', 'Ghaziabad', 'Gorakhpur', 'Gwalior', 'Hyderabad', 'Bhopal', 'Aurangabad', 'Indore', 'Bengaluru', 'Belgaum', 'Kanpur', 'Kochi', 'Bareilly', 'Jabalpur', 'Agartala']
['Puducherry', 'Visakhapatnam', 'Asansol']

2022-1
['Agartala', 'Mysuru', 'Hyderabad', 'Bengaluru', 'Visakhapatnam']
['Jalandhar', 'Jabalpur', 'Indore', 'Mangalore', 'Delhi', 'Dehradun', 'Gwalior', 'Ludhiana', 'Chandigarh', 'Bhopal', 'Amritsar', 'Belgaum']
['Mumbai', 'Kohima', 'Asansol', 'Srinagar', 'Thiruvananthapuram', 'Aizwal', 'Pune', 'Gandhinagar', 'Shillong', 'Imphal']
['Puducherry', 'Prayagraj', 'Patna', 'Nashik', 'Agra', 'Moradabad', 'Meerut', 'Solapur', 'Aurangabad', 'Kozhikode', 'Kota', 'Kolkata', 'Kochi', 'Jodhpur', 'Varanasi', 'Jaipur', 'Gorakhpur', 'Ghaziabad', 'Faridabad', 'Coimbatore', 'Chennai', 'Bareilly', 'Lucknow', 'Kanpur']

2022-2
[]
['Agartala', 'Jaipur', 'Jodhpur', 'Kochi', 'Gandhinagar', 'Faridabad', 'Delhi', 'Dehradun', 'Kohima', 'Kota', 'Kozhikode', 'Mangalore', 'Bengaluru', 'Belgaum', 'Mysuru', 'Patna', 'Shillong', 'Aizwal', 'Thiruvananthapuram', 'Hyderabad', 'Imphal']
['Puducherry', 'Gangtok']
['Jabalpur', 'Varanasi', 'Agra', 'Srinagar', 'Solapur', 'Amritsar', 'Pune', 'Asansol', 'Prayagraj', 'Aurangabad', 'Nashik', 'Bareilly', 'Mumbai', 'Indore', 'Moradabad', 'Bhopal', 'Ludhiana', 'Lucknow', 'Chandigarh', 'Chennai', 'Kolkata', 'Coimbatore', 'Ghaziabad', 'Kanpur', 'Gorakhpur', 'Visakhapatnam', 'Gwalior', 'Meerut', 'Jalandhar']

2022-3
['Visakhapatnam', 'Gandhinagar']
['Ghaziabad', 'Moradabad', 'Kolkata', 'Kanpur', 'Jabalpur', 'Indore', 'Patna', 'Prayagraj', 'Gwalior', 'Gorakhpur', 'Lucknow', 'Meerut', 'Coimbatore', 'Chennai', 'Agra', 'Bhopal', 'Bareilly', 'Srinagar', 'Varanasi', 'Asansol']
['Jaipur', 'Shillong', 'Kota', 'Delhi']
['Mumbai', 'Puducherry', 'Thiruvananthapuram', 'Nashik', 'Solapur', 'Pune', 'Mysuru', 'Agartala', 'Jodhpur', 'Ludhiana', 'Kozhikode', 'Kohima', 'Kochi', 'Jalandhar', 'Imphal', 'Hyderabad', 'Faridabad', 'Chandigarh', 'Bengaluru', 'Belgaum', 'Aurangabad', 'Amritsar', 'Aizwal', 'Mangalore', 'Gangtok']

In [14]:
a = all_change_data[all_change_data["Q"]=="2018-2"].sort_values(by="Quadrant")
a

,Q,Change in Unemployment Rate,Change in Normalized AQI,City,Quadrant
14,2018-2,4.843333,-0.013340,Delhi,2
18,2018-2,1.236667,-0.014607,Gorakhpur,2
17,2018-2,1.236667,-0.013013,Ghaziabad,2
38,2018-2,0.716667,-0.015310,Mumbai,2
15,2018-2,3.933333,-0.013234,Faridabad,2
27,2018-2,1.236667,-0.014178,Kanpur,2
40,2018-2,0.716667,-0.017165,Nashik,2
37,2018-2,1.236667,-0.014379,Moradabad,2
33,2018-2,1.236667,-0.014466,Lucknow,2
42,2018-2,1.236667,-0.014402,Prayagraj,2
6,2018-2,1.236667,-0.014407,Bareilly,2
5,2018-2,0.716667,-0.014419,Aurangabad,2
46,2018-2,0.716667,-0.019591,Solapur,2
49,2018-2,1.236667,-0.014503,Varanasi,2
1,2018-2,1.236667,-0.014066,Agra,2
44,2018-2,0.716667,-0.015366,Pune,2
36,2018-2,1.236667,-0.014218,Meerut,2
32,2018-2,-1.236667,-0.013719,Kozhikode,4
34,2018-2,-0.876667,-0.011225,Ludhiana,4
35,2018-2,-0.763333,-0.013339,Mangalore,4
31,2018-2,-1.140000,-0.013548,Kota,4
0,2018-2,-5.723333,-0.014377,Agartala,4
41,2018-2,-0.230000,-0.014838,Patna,4
43,2018-2,-1.906667,-0.014002,Puducherry,4
45,2018-2,-1.396667,-0.014704,Shillong,4
47,2018-2,-1.856667,-0.013855,Srinagar,4
48,2018-2,-1.236667,-0.014215,Thiruvananthapuram,4
39,2018-2,-0.763333,-0.014302,Mysuru,4
30,2018-2,-1.316667,-0.014795,Kolkata,4
25,2018-2,-0.876667,-0.010831,Jalandhar,4
28,2018-2,-1.236667,-0.014460,Kochi,4
2,2018-2,-0.140000,-0.014942,Aizwal,4
3,2018-2,-0.876667,-0.014164,Amritsar,4
4,2018-2,-1.316667,-0.017195,Asansol,4
7,2018-2,-0.763333,-0.014335,Belgaum,4
8,2018-2,-0.763333,-0.014117,Bengaluru,4
9,2018-2,-0.990000,-0.014369,Bhopal,4
10,2018-2,-0.876667,-0.013979,Chandigarh,4
11,2018-2,-0.840000,-0.013835,Chennai,4
29,2018-2,-0.140000,-0.014446,Kohima,4
12,2018-2,-0.840000,-0.014476,Coimbatore,4
16,2018-2,-0.226667,-0.014416,Gandhinagar,4
19,2018-2,-0.990000,-0.014354,Gwalior,4
20,2018-2,-2.306667,-0.014332,Hyderabad,4
21,2018-2,-0.140000,-0.014369,Imphal,4
22,2018-2,-0.990000,-0.014685,Indore,4
23,2018-2,-0.990000,-0.014404,Jabalpur,4
24,2018-2,-1.140000,-0.014211,Jaipur,4
26,2018-2,-1.140000,-0.012691,Jodhpur,4
13,2018-2,-0.440000,-0.014139,Dehradun,4
50,2018-2,-0.603333,-0.018907,Visakhapatnam,4

In [9]:
len(all_change_data["Q"].unique())

18

In [25]:
all_change_data.to_csv(".\\data\\processed_new\\emissions_economic_change.csv", index=False)